<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Данные пользователя</title>
</head>
<body>
<div align="center">
    <h2>Данные пользователя</h2>
    <br>
        <table border="0" cellpadding="5" th:object="${user}">
            <tr>
                <td style="text-align:right">Имя пользователя:</td>
                <td th:text="${user.username}"/>
            </tr>
            <tr>
                <td style="text-align:right">e-mail:</td>
                <td th:text="${user.email}"/>
            </tr>
            <tr>
                <td style="text-align:right">Роль:</td>
                <td th:text="${user.getRoles().toString()}"/>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <form th:if="${user.id}" th:action="@{/logout}" th:method="POST">
                        <input type="submit" value="Выход" />
                    </form>
                </td>
            </tr>
        </table>
</div>
</body>
</html>